In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='p7_zmsFAeSVGD74o4Ju_0CZQhz7-Fo9WDETnBRynCL_h',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.eu.cloud-object-storage.appdomain.cloud')

bucket = 'kasia-donotdelete-pr-poh0ifncxyxywe'
object_key = 'ceny.xlsx'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']

df_data_0 = pd.read_excel(body.read())
df_data_0.head()

  Miesiące Rodzaje towarów i usług   Rok  Wartosc Jednostka miary
0  styczeń                     ryż  2014     4.03              zł
1  styczeń                     ryż  2015     3.80              zł
2  styczeń                     ryż  2016     3.80              zł
3  styczeń                     ryż  2017     3.86              zł
4  styczeń           bułka pszenna  2014     0.43              zł